<!-- Start Hero Area -->
<section class="hero-area">
    <!-- Single Slider -->
    <div class="hero-inner">
        <div class="container">
            <div class="row ">
                <div class="col-lg-6 col-12">
                    <div class="home-slider">
                        <div class="hero-text text-dark wow fadeInUp" data-wow-delay=".3">
                            <h2><span class="fw-bolder">aGrae</span> La integración sostenible de:<br></h2>
                            <h1 class="typed fw-bolder"></h1>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="slider-thumb"></div>
    <div class="slider-thumb-2"></div>
    <!--/ End Single Slider -->
</section>
<!--/ End Hero Area -->