 <section class="intro-video-area overlay section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title white-text">
                        <span class="wow fadeInDown" data-wow-delay=".2s">Agricultura de precisión en España</span>
                        <h2 class="wow fadeInUp" data-wow-delay=".4s">Quieres Conocer nuestros procesos?</h2>
                        <p class="wow fadeInUp" data-wow-delay=".6s">{% lorem 50 w random %}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-video-play">
                        <div class="row justify-content-center">
                            <div class="col-lg-10 col-12">
                                <div class="play-thumb wow zoomIn" data-wow-delay=".2s">
                                    <a href="https://youtu.be/oBf2YcXo2xs"
                                        class="glightbox video"><i class="lni lni-play"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- row -->
        </div>
    </section>